*{
    margin: 0;
    padding: 0;
}
 
 /* #imgtv{
    position: relative;
 }

 #video{
    position: absolute;
    top: 130%;
    width: 450px;
    /* width: 30%; */
    /* z-index: -1; */
 /* }     */     